/* button collection  */
.btn--style1,
.btn--style2,
.btn--style3 {
    border-width: 0.2em;
    border-style: solid;
    border-radius: 2em;

    padding: 1em 2em;

    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

button,
input {
    padding: .3em .5em;

    border-color: hsl(0, 0%, 72%);
    border-style: solid;
    border-width: 2px;
}

/* button:hover{} */