/* button collection  */
.btn--style1,
.btn--style2,
.btn--style3 {
    border-width: 0.2em;
    border-style: solid;
    border-radius: 2em;

    padding: 1em 2em;

    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

button,
input,
select {
    height: var(--btn-height);
    padding: .2em .2em;

    border-color: hsl(212, 94%, 18%);
    border-style: solid;
    border-width: 1px;
    border-radius: .3em;

    font-family: 'Ubuntu, sans-serif';
    color: black;

    background-color: aqua;
    box-shadow: 0px -2px 9px -4px gray;
}

button.active {
    background-color: rgb(8, 190, 190);
}

.color {
    flex-shrink: 0;
    height: var(--btn-height);
    width: var(--btn-height);
}

select,
input:not(.color) {
    padding: 0 .5em;
    font-size: 1rem;
}

select {
    max-width: 170px;
}

/* button:hover{} */
.tools {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: .3em;
    padding: 0.5em;

    vertical-align: text-bottom;
    line-height: var(--btn-height);
}

/* ========== ICONS ========= */
.icon {
    width: 2em;
    height: 2em
}

.image-wrapper {
    padding: .3em;
}

/* MEDIA QUERIES*/
/* mobile only  */
@media (max-width: 499px) {
    .input-upload-image {
        width: 100%;
    }
}

/* small  */
@media (min-width: 500px) {}

/* medium  */
@media (min-width: 1046px) {

    select,
    input:not(.color) {
        padding: .5em;
        font-size: 1.3rem;
    }

    select {
        max-width: 240px;
    }

    .icon {
        width: 2.5em;
        height: 2.5em
    }
}

/* large  */
@media (min-width: 1200px) {}