/* button collection  */
.btn--style1,
.btn--style2,
.btn--style3 {
    border-width: 0.2em;
    border-style: solid;
    border-radius: 2em;

    padding: 1em 2em;

    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

button,
input,
select {
    height: var(--btn-height);
    padding: .2em .2em;

    border-color: hsl(212, 94%, 18%);
    border-style: solid;
    border-width: 2px;

    font-family: 'Ubuntu, sans-serif';
    color: black;
}

.color {
    height: var(--btn-height);
    width: var(--btn-height);
}

select,
input:not(.color) {
    padding: .1em;
    font-size: .8rem;
}

/* button:hover{} */

.tools {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: .3em;
    width: 350px;
    padding: 0.5em;

    vertical-align: text-bottom;
    line-height: var(--btn-height);
}

/* ========== ICONS ========= */
.icon {
    width: 2em;
    height: 2em
}

/* MEDIA QUERIES*/

/* mobile only  */
@media (max-width: 500px) {}

/* small  */
@media (min-width: 500px) {}

/* medium  */
@media (min-width: 1046px) {

    select,
    input:not(.color) {
        padding: .5em;
        font-size: 1.3rem;
    }

    .icon {
        width: 2.5em;
        height: 2.5em
    }
}

/* large  */
@media (min-width: 1200px) {}