body[data-view="gallery"] .editor,
body[data-view="memes"] .editor {
    display: none;
}

.editor:not(.active) {
    pointer-events: none;
}

.editor {
    height: 100%;
    align-items: center;
    flex-direction: column;
}

canvas {
    margin: 0 auto;
}

.controller-container,
.image-container {
    padding: 1em;

}




/* MEDIA QUERIES*/

/* mobile only  */
@media (max-width: 499px) {
    .mobile-controller-menu {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;

        position: fixed;
        bottom: 0;
        width: 100vw;

        padding-bottom: 0.5em;

        height: 4rem;
        background-color: aqua;
    }

    .mobile-controller-menu span {
        padding: 1em;
        border-radius: 50%;
        display: inline-block;
        background-color: aqua;

        box-shadow: 0 0 5px 1px gray;
    }

    .mobile-icon {
        width: 2rem;
    }

    span:nth-child(3) .mobile-icon {
        width: 3.2rem;
    }

    .input-line-mobile {
        position: absolute;
        top: 50%;
        z-index: -10;
    }

    .input-line-mobile:focus {
        outline: none;
    }

}

/* small  */
@media (min-width: 500px) {


    .controller-container {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .tools {
        flex-basis: content;
    }
}


/* medium  */
@media (min-width: 1046px) {
    .editor {
        flex-direction: row;
        justify-content: center;
    }

    .controller-container {
        display: block;
        width: auto;
    }
}

/* large  */
@media (min-width: 1200px) {}