.controller-container,
.canvas-container {
    padding: 1em;

}

/* .editor:not(.active) {
    pointer-events: none;
} */

.editor {
    height: 100%;
    align-items: center;
    flex-direction: column;
}

canvas {
    margin: 0 auto;
}

.input-line {
    width: 100%;
}

/* MEDIA QUERIES*/
/* mobile only  */
@media (max-width: 499px) {
    .mobile-controller-menu {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;

        position: fixed;
        bottom: 0;

        width: 100vw;
        height: 5.5rem;
        padding-bottom: 0.5em;
        background-color: aqua;
    }

    .mobile-controller-menu span {
        display: inline-block;
        padding: 1em;
        background-color: aqua;

        cursor: pointer;
    }

    .mobile-icon {
        width: 2rem;
    }

    span:nth-child(3) .mobile-icon {
        width: 3.2rem;
    }

    .input-line-mobile {
        position: fixed;
        top: 50vh;
        left: 0;
        z-index: -10;
    }

    .input-line-mobile:focus {
        outline: none;
    }

}

/* small  */
@media (min-width: 500px) {
    .controller-container {
        /* width: 100%; */
        width: 500px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tools {
        flex-basis: content;
    }
}

/* medium  */
@media (min-width: 1046px) {
    .editor {
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }

    .controller-container {
        display: block;
        width: auto;
    }
}

/* large  */
@media (min-width: 1200px) {}