.main-header {
    background-color: aqua;
    flex-wrap: wrap;
}



.main-header button {
    margin: 1em 0;
    padding: 0 0.5em;
    font-weight: 400;
    font-size: 1.3rem;
}

.main-header button:not(:first-child) {
    margin-inline-start: .5em;
}

/* MEDIA QUERIES*/

/* mobile only  */
@media (max-width:770px) {
    .main-header nav {
        margin: 0 auto;
    }
}

/* small  */
@media (min-width: 600px) {
    .main-header button {
        margin: 1.2em 0;
        padding: 0 0.6em;
        font-size: 1.5rem;
    }

    .main-header button:not(:first-child) {
        margin-inline-start: 1em;

    }
}

/* medium  */
@media (min-width: 1046px) {}

/* large  */
@media (min-width: 1200px) {}