:root {
    --main-padding: 1.2rem;
    --header-height: 4.2rem;
    --btn-height: 2.2rem;
    --font-size: .9rem;
}

/* MEDIA QUERIES*/

/* mobile only  */
@media (max-width:600px) {}

/* small  */
@media (min-width: 600px) {
    :root {
        --main-padding: 1.5em;
        --btn-height: 2.6rem;
        --font-size: 1rem;
        --header-height: 4.5rem;
    }
}

/* medium  */
@media (min-width: 1046px) {
    :root {
        --btn-height: 3rem;
        --header-height: 4.9rem;
    }
}

/* large  */
@media (min-width: 1200px) {
    :root {
        --font-size: 1.2rem;
        --btn-height: 3.5rem;
        --header-height: 5.2rem;
    }
}